[submodule "WoWViewer.NET/BLPSharp"]
	path = BLPSharp
	url = https://github.com/wowdev/BLPSharp
[submodule "WoWViewer.NET/CascLib"]
	path = CascLib
	url = https://github.com/marlamin/CascLib
[submodule "WoWViewer.NET/TACTSharp"]
	path = TACTSharp
	url = https://github.com/wowdev/TACTSharp
[submodule "WoWViewer.NET/DBCD"]
	path = DBCD
	url = https://github.com/wowdev/DBCD
[submodule "SceneScriptLib"]
	path = SceneScriptLib
	url = https://github.com/Marlamin/SceneScriptLib
